
ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

a, .logo { 
    font-size: 17px;
    color: tomato;
    text-decoration: none;
    padding: 10px;
}


header {
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 125px;
        background-color: midnightblue;
    
}


.right-links li {
     display: inline-block;
     padding: 0px 0px;      
                

}

.sidemiddle {
    height: 250px;
    background-color: teal;

}

.footer {
           display:flex;
           background-color: yellow;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background:black;
}